# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build
build_release
venv

*.tar.gz
*.xlsx
*.csv
*.running

docs/_build
docs/_static
docs/_templates
docs/api
thirdparty/
.ipynb_checkpoints/

.vscode
